@page "/customercases"
@using Blazor.Models.CustomerCase
@using Blazor.Models.Customer
@inject HttpClient http
@attribute [Authorize(Roles ="Admin")]


    <div class="container">
        <div class="text-right">
            <button type="submit" class="btn btn-danger" @onclick="DeleteAllCustomerCases">Remove all CustomerCases</button>
        </div>
        <EditForm class="m5-5" Model="@customercase" OnSubmit="@CreateCustomerCase">


            <h5 class="mb-3">Create A CustomerCase</h5>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Customer's Name..." @bind="customercase.CustomerName" />
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Title..." @bind="customercase.Title" />
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Description..." @bind="customercase.Description" />
                        
                    </div>
                    <div class="form-group">
                        <InputSelect Id="Status" @bind-Value="customercase.Status" Class="form-control">
                            <option value="">- Status -</option>
                            <option value="Active">Active</option>
                            <option value="UnActive">UnActive</option>
                            <option value="Finish">Finish</option>
                        </InputSelect>                       
                    </div>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success">Create CustomerCase</button>
        </EditForm>
        <br />
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col" colspan="2">Status</th>
                </tr>
            </thead>
            @if (customercases != null)
            {
                <tbody>
                    @foreach (var customercase in customercases)
                    {
                        <tr>
                            <th scope="row">@customercase.Id</th>
                            <th scope="row">@customercase.CustomerName</th>
                            <th scope="row">@customercase.Title</th>
                            <th scope="row">@customercase.Description</th>
                            <th scope="row">@customercase.Status</th>
                            <td class="text-center">
                                <span style="cursor: pointer" class="oi oi-trash" @onclick="() => DeleteCustomerCase(customercase.Id)"></span>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <br />
        <br />
        <p>Check below if customers have been registered</p>
        <br />
        <br />
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col" colspan="2">Mail</th>
                </tr>
            </thead>
            @if (customers != null)
            {
                <tbody>
                    @foreach (var customer in customers)
                    {
                        <tr>
                            <th scope="row">@customer.Id</th>
                            <td>@customer.Name</td>
                            <td>@customer.Title</td>
                            <td>@customer.Email</td>
                        </tr>
                    }
                </tbody>
            }
        </table>


    </div>

@code {

    private List<CustomercaseModel> customercases;
    private CustomercaseCreateModel customercase;
    private List<CustomerModel> customers;
    private CustomerCreateModel customer;

    private async Task GetCustomerCases()
    {
        customercases = await http.GetJsonAsync<List<CustomercaseModel>>("http://localhost:57277/api/customercases");
        StateHasChanged();
    }
    private async Task GetCustomers()
    {
        customers = await http.GetJsonAsync<List<CustomerModel>>("http://localhost:57277/api/customers");
        StateHasChanged();
    }
    private async Task CreateCustomerCase()
    {
        await http.PostJsonAsync<CustomercaseCreateModel>("http://localhost:57277/api/customercases", customercase);

        customercase = new CustomercaseCreateModel();
        await GetCustomerCases();
    }
    private async Task DeleteAllCustomerCases()
    {
        await http.DeleteAsync("http://localhost:57277/api/customercases/all");
        await GetCustomerCases();
    }
    private async Task DeleteCustomerCase(int id)
    {
        await http.DeleteAsync($"http://localhost:57277/api/customercases/{id}");
        await GetCustomerCases();
    }
    protected override async Task OnInitializedAsync()
    {
        customercase = new CustomercaseCreateModel();
        await GetCustomerCases();
        
        customer = new CustomerCreateModel();
        await GetCustomers();
    }

}


